body{
    /* background-color: tomato; */
}

 /* For desktop: */
 .col-1 {width: 8.33%;}
 .col-2 {width: 16.66%;}
 .col-3 {width: 25%;}
 .col-4 {width: 33.33%;}
 .col-5 {width: 41.66%;}
 .col-6 {width: 50%;}
 .col-7 {width: 58.33%;}
 .col-8 {width: 66.66%;}
 .col-9 {width: 75%;}
 .col-10 {width: 83.33%;}
 .col-11 {width: 91.66%;}
 .col-12 {width: 100%;}


.logo img{
    text-align: left;
    color: aliceblue;
}
.navheading h1{
    
    text-align: right;
}

.navmenu{
    flex-direction: row;
    justify-content: flex-end;
}
.navmenu a{
    padding: 5px 10px;
    margin:20px 10px ;
background-color: transparent;
}

/* profile */

.profile .toppic{
    position: absolute;
    right: 100px;
    width: 120px;
    transition: width 2s transform 2s;
}

.profile .toppic:hover{
    width: 140px;

}





.profile .downpic{
bottom: 20px;
    left: 100px;
    width: 120px;
    transition: width 2s transform 2s;
}

.profile .downpic:hover{
    width: 140px;

}

.prodes p{
    color: gray;
    text-align: center;
    margin-bottom: 100px;
    /* margin: 0 auto ; */
    width: 50%;
}


.aboutimg img{
    margin-top: 200px;
}

.aboutmedes p{
    text-align: left;
}

.contactlink .media{
    position: relative;
}

.btn{
    position: absolute;
    margin-top: 200px;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
}

/* footer */

.footermenu{
    margin-top: 20px;

}


.footermenu a{
    display: inline;
    margin: 20px;
    font-size: 20px;
}
















